.selector {
  background-color: transparent;
  border-width: 1.5px;
  border-style: solid;
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  box-sizing: content-box;
  z-index: 3;
  pointer-events: none;
}

.selector_focus_cell {
  background-color: #fff;
}

.selector_dot {
  border: 0.5px solid #fff;
  position: absolute;
  width: 6px;
  height: 6px;
  right: -3px;
  bottom: -3px;
  cursor: move;
}