.input_main > .cell_text_container > .cell_text {
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  user-select: text;
}

.input_main {
  position: absolute;
}

.cell_text_container > .cell_text:focus {
  outline: none;
}

.input_main > .cell_text_container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.behavior_shortcut {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
