.behavior_input {
  position: absolute;
  background-color: transparent;
  z-index: 1000;
}

.behavior_input:focus {
  outline: none;
}

.behavior_shortcut {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
