div.behavior_container > .behavior_input {
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  user-select: text;
}

.behavior_container > .behavior_input:focus {
  outline: none;
}

div.behavior_container {
  position: absolute;
  display: flex;
}

.behavior_shortcut {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}
