body {
  margin: 0;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;
}

.table_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

* {
  box-sizing: border-box;
}
